@model PersonaFormViewModel

<div asp-validation-summary="ModelOnly" class="alert alert-danger py-2"></div>

<div class="row">
    <div class="col mb-3">
        <label asp-for="Nombre" class="form-label"><span class="req text-danger">*</span> Nombre</label>
        <input asp-for="Nombre" class="form-control" autofocus />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="col mb-3">
        <label asp-for="Apellido" class="form-label"><span class="req text-danger">*</span> Apellido</label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
</div>

<div class="mb-3">
    <label asp-for="IdClasificacion" class="form-label"></label>
    <select asp-for="IdClasificacion" asp-items="ViewBag.Sectores" class="form-select">
        <option value="">Sin sector asignado</option>
    </select>
    <div class="form-text">El sector define qué comandas se le asignan automáticamente.</div>
</div>

<div class="row">
    <div class="col mb-4">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col mb-4">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
</div>
